<div *ngIf="musicGroup">
    <h1 class="mat-h1">{{ musicGroup.name }}</h1>

    <table class="mat-table">
        <tbody>
        <tr>
            <th class="mat-header-cell">Nom :</th>
            <td class="mat-cell">{{ musicGroup.name }}</td>
        </tr>
        <tr>
            <th class="mat-header-cell">Origine :</th>
            <td class="mat-cell">{{ musicGroup.origin }}</td>
        </tr>
        <tr>
            <th class="mat-header-cell">Ville :</th>
            <td class="mat-cell">{{ musicGroup.city }}</td>
        </tr>
        <tr>
            <th class="mat-header-cell">Année Début :</th>
            <td class="mat-cell">{{ musicGroup.startedAt | date:'yyyy' }}</td>
        </tr>
        <tr>
            <th class="mat-header-cell">Année Séparation :</th>
            <td class="mat-cell">{{ musicGroup.endedAt | date:'yyyy' }}</td>
        </tr>
        <tr>
            <th class="mat-header-cell">Fondateurs :</th>
            <td class="mat-cell">{{ musicGroup.founders }}</td>
        </tr>
        <tr>
            <th class="mat-header-cell">Membres :</th>
            <td class="mat-cell">{{ musicGroup.nbMembers }}</td>
        </tr>
        <tr>
            <th class="mat-header-cell">Courant Musical :</th>
            <td class="mat-cell">{{ musicGroup.musicType }}</td>
        </tr>
        <tr>
            <th class="mat-header-cell">Présentation :</th>
            <td class="mat-cell">{{ musicGroup.description }}</td>
        </tr>
        </tbody>
    </table>
</div>
<a routerLink="/list"><button mat-flat-button color="primary"><mat-icon fontIcon="arrow_back"></mat-icon> Retour</button></a>