<h1 class="mat-h1">Liste des groupes de musique</h1>

<hr>

<app-upload></app-upload>

<hr>

<a routerLink="/add"><button mat-flat-button color="primary"><mat-icon fontIcon="add"></mat-icon> Ajouter un groupe</button></a>

<table mat-table [dataSource]="listGroups">

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let group">
            <a routerLink="/view/{{group.id}}"><button mat-flat-button color="primary"><mat-icon fontIcon="visibility"></mat-icon> Afficher</button></a>
            <a routerLink="/edit/{{group.id}}"><button mat-flat-button color="primary"><mat-icon fontIcon="edit"></mat-icon> Modifier</button></a>
            <a (click)="deleteMusicGroup(group.id)"><button mat-flat-button color="warn"><mat-icon fontIcon="delete"></mat-icon> Supprimer</button></a>
        </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let group"> {{ group.name }} </td>
    </ng-container>

    <ng-container matColumnDef="origin">
        <th mat-header-cell *matHeaderCellDef> Origine </th>
        <td mat-cell *matCellDef="let group"> {{ group.origin }} </td>
    </ng-container>

    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> Ville </th>
        <td mat-cell *matCellDef="let group"> {{ group.city }} </td>
    </ng-container>

    <ng-container matColumnDef="startedAt">
        <th mat-header-cell *matHeaderCellDef> Année Début </th>
        <td mat-cell *matCellDef="let group"> {{ group.startedAt | date:'yyyy' }} </td>
    </ng-container>

    <ng-container matColumnDef="endedAt">
        <th mat-header-cell *matHeaderCellDef> Année Séparation </th>
        <td mat-cell *matCellDef="let group"> {{ group.endedAt | date:'yyyy' }} </td>
    </ng-container>

    <ng-container matColumnDef="founders">
        <th mat-header-cell *matHeaderCellDef> Fondateurs </th>
        <td mat-cell *matCellDef="let group"> {{ group.founders }} </td>
    </ng-container>

    <ng-container matColumnDef="nbMembers">
        <th mat-header-cell *matHeaderCellDef> Membres </th>
        <td mat-cell *matCellDef="let group"> {{ group.nbMembers }} </td>
    </ng-container>

    <ng-container matColumnDef="musicType">
        <th mat-header-cell *matHeaderCellDef> Courant Musical </th>
        <td mat-cell *matCellDef="let group"> {{ group.musicType }} </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Présentation </th>
        <td mat-cell *matCellDef="let group"> {{ group.description }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let rowData; columns: columnsToDisplay"></tr>
</table>