<h1 class="mat-h1">Ajout d'un groupe de musique</h1>

<a routerLink="/list"><button mat-flat-button color="primary"><mat-icon fontIcon="arrow_back"></mat-icon> Retour</button></a>

<app-form *ngIf="musicGroup" [musicGroup]="musicGroup"></app-form>