<form *ngIf="musicGroup" (ngSubmit)="onSubmit()" #musicGroupForm="ngForm">
    <div>
        <mat-form-field>
            <mat-label>Nom</mat-label>
            <input id="name" name="name" matInput type="text" required pattern="^.{2,}$" [(ngModel)]="musicGroup.name" #name="ngModel">
            <mat-hint>Le nom du groupe</mat-hint>
            <mat-error [hidden]="name.valid || name.pristine">
                Ce champ est requis et doit contenir au moins 2 caractères
            </mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Origine</mat-label>
            <input id="origin" name="origin" matInput type="text" required [(ngModel)]="musicGroup.origin" #origin="ngModel">
            <mat-hint>Le pays de provenance du groupe</mat-hint>
            <mat-error [hidden]="origin.valid || origin.pristine">
                Ce champ est requis
            </mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Ville</mat-label>
            <input id="city" name="city" matInput type="text" required [(ngModel)]="musicGroup.city" #city="ngModel">
            <mat-hint>La ville de provenance du groupe</mat-hint>
            <mat-error [hidden]="city.valid || city.pristine">
                Ce champ est requis
            </mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Année Début</mat-label>
            <input id="strStartedAt" name="strStartedAt" matInput type="text" required pattern="^[0-9]{4}$" [(ngModel)]="musicGroup.strStartedAt" #strStartedAt="ngModel" (change)="onChangeDate()">
            <mat-hint>Année sur 4 chiffres</mat-hint>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Année Séparation</mat-label>
            <input id="strEndedAt" name="strEndedAt" matInput type="text" [(ngModel)]="musicGroup.strEndedAt" #strEndedAt="ngModel" (change)="onChangeDate()">
            <mat-hint>Année sur 4 chiffres</mat-hint>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Fondateurs</mat-label>
            <input id="founders" name="founders" matInput type="text" [(ngModel)]="musicGroup.founders" #founders="ngModel">
            <mat-hint>Les fondateurs du groupe</mat-hint>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Membres</mat-label>
            <input id="nbMembers" name="nbMembers" matInput type="number" [(ngModel)]="musicGroup.nbMembers" #nbMembers="ngModel">
            <mat-hint>Le nombre de membres dans le groupe</mat-hint>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Courant Musical</mat-label>
            <input id="musicType" name="musicType" matInput type="text" [(ngModel)]="musicGroup.musicType" #musicType="ngModel">
            <mat-hint>Le courant musical du groupe</mat-hint>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Présentation</mat-label>
            <textarea id="description" name="description" matInput type="text" required [(ngModel)]="musicGroup.description" #description="ngModel"></textarea>
            <mat-hint>La présentation du groupe</mat-hint>
            <mat-error [hidden]="description.valid || description.pristine">
                Ce champ est requis
            </mat-error>
        </mat-form-field>
    </div>

    <button mat-flat-button color="primary" [disabled]="!musicGroupForm.form.valid"> Enregistrer </button>
</form>