<mat-card>
    <mat-card-header>
        <mat-card-title>Importer un fichier</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form (ngSubmit)="onSubmit()" #importForm="ngForm">
            <button type="button"  mat-flat-button (click)="fileInput.click()">Choisir un fichier xlsx</button>
            <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">

            <button mat-flat-button color="primary" [disabled]="!importForm.form.valid"> Envoyer </button>
        </form>
    </mat-card-content>
</mat-card>